<nav class="w-full">
  <div class="max-w-4xl mx-auto px-2 flex justify-between items-center">
    <div class="font-uncial text-2xl text-black">Tell Me Tell Me</div>
  </div>

  <div class="shape-border shape-border-2 h-8"></div>
</nav>
