<section class="bg-[#4A5568] mt-12">
  <footer class="mx-auto max-w-7xl px-4 py-4 flex justify-end items-center text-white text-sm gap-2">
    <span>&copy; {new Date().getFullYear()} Powered by Dev&Coffee</span>
    <a href="https://github.com/javieroc/tellmetellme" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" d="M12 0C5.37 0 0 5.373 0 12c0 5.303 3.438 9.8 8.207 11.387.6.113.793-.263.793-.583v-2.234c-3.338.726-4.033-1.61-4.033-1.61-.546-1.387-1.334-1.756-1.334-1.756-1.09-.745.083-.73.083-.73 1.205.085 1.84 1.238 1.84 1.238 1.07 1.835 2.807 1.305 3.492.998.108-.775.418-1.305.762-1.604-2.665-.3-5.467-1.334-5.467-5.932 0-1.31.468-2.381 1.235-3.222-.124-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.3 1.23a11.52 11.52 0 0 1 3-.404c1.02.005 2.045.137 3 .404 2.289-1.552 3.295-1.23 3.295-1.23.655 1.653.244 2.873.12 3.176.77.841 1.233 1.912 1.233 3.222 0 4.61-2.807 5.628-5.48 5.922.43.37.813 1.096.813 2.21v3.276c0 .323.192.698.8.58C20.565 21.796 24 17.3 24 12c0-6.627-5.373-12-12-12z" clip-rule="evenodd"/>
      </svg>
    </a>
  </footer>
</section>
